.badNotification {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.goodNotification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#loginForm input {
  background-color: lightcyan
}

.blog {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
}